::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
      border-radius: 5px;
    background: rgb(93, 170, 203);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(79, 128, 148);
  }


body{
    margin :0;
    text-align: center;
    font-family: 'Merriweather', serif;


    
}
.Dwight{
    height: 50%;
    width: auto;

}
h1{
    margin: 0;
    font-family: 'Sacramento', cursive;
}
h2{
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

h3{
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
.TopContainer{
    background-color: lightcyan;
    position: relative;
}
.MiddleContainer{
   background-color:azure;
   position: relative;
}


.Top{
    position: relative;
    left: 230px;
    top: 30px;
    
}
.Bottom{
    position: relative;
    left :100px;
     bottom :340px;
}

